@import url(../css/fontFace.css);
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family: var(--abel);
}
body{
    min-height: 100vh;
    background:#fff;
    
}
:root{
    /*google font themes*/
    --abel:Abel,cursive;
    --anton:Anton,cursive;
    --josefin:Josefin,cursive;
    --lexend:Lexend,cursive;
    --livvic:Livvic,cursive;
}
a{
    text-decoration: none;
    color:#0d0aa1dc;
}
a:hover{

    color:#0d0aa1dc;}

a:active{
    color:#0d0aa1dc;

}
a:visited{
    color:#0d0aa1dc;
}
ul li{
    list-style: none;
}
nav{
    position:fixed;
    z-index:10000;
    top:0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background:#fff;
    box-shadow: 0 5px 25px rgba(0,0,0,0.06);
}
/*-----logo-----------------*/
.logo{
    font-size: 2rem;
    text-shadow: -2px -2px 20px rgba(0,0,0,0.6);
    font-weight: 700;
    height: 60px;
    line-height: 60px;
    padding-left:15px;
    font-family:var(--livvic);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    user-select: none;
}
.logo:hover{transform:translateX(-15px);transition:1s;}

/*-----toggle-----------------*/
#toggle{
    width: 60px;
    height:60px;
    background:rgba(41, 71, 241, 0.89);
    position:absolute;
    top:0;
    right:0;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
#toggle.active{
    background:#fff;
}

#toggle::before{
    content:'';
    position: absolute;
    background-color: #fff;
    width: 28px;
    height:2px;
    transform:translateY(5px);
    transition:.5s;
}
#toggle::after{
    content:'';
    position: absolute;
    background-color:#fff;
    width: 28px;
    height:2px;
    transform:translateY(-5px);
    transition:.5s;
}
#toggle.active::before{
    transform:translateY(0px) rotate(405deg);
    background:rgba(41, 71, 241, 0.89);
}
#toggle.active::after{
    transform:translateY(0px) rotate(-405deg);
    background:rgba(41, 71, 241, 0.89);
}
/*--------------navBar*/
#navBar{
    position:relative;
    right: 60px;
    transition:1.2s;
    height: 60px;
    width:0;
    overflow: hidden;
    user-select: none;
}
#navBar.active{
   width:600px;
}
#navBar ul{
    position: relative;
    display: flex;
    flex-direction: row;

}
#navBar ul li a{
    height: 60px;
    line-height:60px;
    padding:0 15px;
    letter-spacing: 2px;
    font-size:1.2rem;
    font-weight: 600;
    font-family: var(--abel);
    
}
#navBar ul li a:hover  , #navBar.active ul li:hover  {
   background:rgba(41, 71, 241, 0.89);
    color:#fff;
 
}

section{
    max-width: 1200px;
    margin:0 auto;
    min-height:100vh;
    color:#f5f5f5;
    font-size: 18vh;
    display: flex;
    font-weight:700;
    justify-content: center;
    align-items: center;
}
section.siteTitle{
    max-width: 100%;
    margin:0 auto;
    min-height:100vh;
    color:#f5f5f5;
    font-size: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#home{
    background:url(../assets/bgs/365wp.jpg) ;
    width:100%;
    background-position: center;
    background-size: cover;
    height:100vh;
    

}
section#home::before{
    content:'';
    position:absolute;
    background:black;
    opacity:0.6;
    width:100%;
    background-position: center;
    background-size: cover;
    height:100vh;
    visibility: visible;
}

footer{
    width:100%;
    padding:20px 100px;
    background-image: linear-gradient(120deg , rgba(37, 23, 233, 0.911) 0% ,rgb(28, 3, 68));}

footer .container{
    height: auto;
    display: grid;
    grid-template-columns:2fr 1fr 1fr 1fr;
    grid-gap:20px;
}
.sec h1{
    color:#fff;
    position: relative;
    margin-bottom:20px;
    letter-spacing: 1px;

}
.sec h1:before{
    content:'';
    position:absolute;
    left:0;
    bottom:-4px;
    font-weight: 400;
    width:100px;
    height:2px;
    background:#fff;
} 
.sec.about p{
    color:#fff;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.sec.about ul {
    display: grid;
    grid-gap:10px;
    grid-template-columns: repeat(4 , 40px);
}
.sec.about ul li a i{
    width:40px;
    height:40px;
    color:#fff;
    display: flex;
    font-size:1.2rem;
    justify-content: center;
    align-items: center;
    background:#f5f5f5;
    border-radius:48%;
    transition:1s;
    border:none;
    box-shadow: -1px -1px 5px rgba(255,255,255,0.5);
    text-shadow: -1px -1px 5px rgba(255,255,255,0.9);

}
.sec.about ul li:nth-child(1) a i.fab{color:rgb(4, 0, 255);text-shadow: 1px -1px 4px rgb(4, 0, 255);}
.sec.about ul li:nth-child(2) a i.fab{
    color:rebeccapurple;
    text-shadow: 1px -1px 4px rebeccapurple;

}
.sec.about ul li:nth-child(3) a i.fab{
    color:rgb(0, 225, 255);
    text-shadow: 1px -1px 4px rgb(0, 217, 255);

}
.sec.about ul li:nth-child(4) a i.fab{
    color:rgba(0, 0, 0, 0.897);
    text-shadow: 1px -1px 4px rgba(0, 0, 0, 0.897);

}
.sec.about ul li a:hover i{
    transform:translateY(10px) rotate(360deg);    
}
.sec.shop ul li a {
    color:#fff999;
    font-size:0.9rem;
    font-weight: 700;
    letter-spacing: 1px;
    border-bottom: 1px solid transparent;
    transition: 1s ;
    padding-bottom:1px;
    margin-bottom:4px;

}
.sec.shop ul li a:hover{
    border-bottom: 1px solid #fff99f;
    transform: translateX(20px);
}.sec.contact ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.sec.contact ul li {
    padding:5px 0;
    color:#fff;
}
.sec.contact ul li a{
    color:#f5f5f5;
    transform: translateY(-5px);
}
.sec.contact ul li a span{
    font-family: var(--josefin);
    letter-spacing: 1px;
    padding-left:2px;
    transition:.5s;


}
.sec.contact ul li a:hover span{
    color:violet;
    font-family: var(--livvic);
    padding-left:3px;
}


.crText{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(120deg ,rgb(148, 147, 147) 0% ,#000 100%);
    font-size: 1.2rem;
    color:#fff;
    letter-spacing: 2px;
}


@media only screen and (max-width:991px){
    footer .container{
        
        grid-template-columns:repeat(2 , 1fr);
    }
    footer {
        padding:50px;
    }
}
@media only screen and (max-width:550px){
    footer .container{
        grid-template-columns: repeat(1 , 1fr);
    }
    section {
        max-width: 550px;
    }
}


